*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
   
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: auto;
    height: 66px;
    padding-left: 126px;
    padding-right: 126px;
    border-bottom: 1.5px solid #e5e7eb;
    
}
.navbar button {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    font-size: 16px;
    color: #364152;
    cursor: pointer;
}
.navbar .get-started {
    background-color: #00a63d;
    width: 105px;
    height: 36px;

    border: none;              /* remove border */
    outline: none;             /* remove outline */
    box-shadow: none;          /* remove default shadow */

    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
}
.solutions:hover{
color: #00a63d;
}
.industries:hover{
color: #00a63d;
}
.impact:hover{
color: #00a63d;
}
.whyus:hover{
color: #00a63d;
}
.contact:hover{
color: #00a63d;
}
.get-started:hover{
background-color: #008236;
}

.nav-texts{
    background-color: transparent;
    border: none;
    display: flex;
    gap: 33px;
    font-size: 16px;
}
.section1{
    background-image: url('factoryfinal.png');
    height: 770px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.logo p{
font-size: 15px;
color: #364152;;
}
.leaf-icon {
    margin-right: 9px;
    font-size: 24px;
}
.logo{
    display: flex;
    align-items: center;
}
.cleanair{
    display: flex;
    justify-content: center;
    color: black;
    background-color:white;
    border-radius: 20px;
    width: 380px;
    height: 37px;
    margin-left: 287px;
    align-items: center;
    position: relative;
    top: 112px;
}
.blink-light {
    width: 10px;
    height: 10px;
    background-color: #00a63d;
    border-radius: 50%;
    margin-right: 12px;
    animation: blink-slow 2.0s ease-in-out infinite;
    box-shadow: 0 0 3px #00a63d;
}
@keyframes blink-slow {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}
.make-sustainability{
    margin-left: 287px;
    margin-top: 147px;
    font-weight: 600;
    font-size: 72px;

}
.profitable-compliant{
    display: flex;
    font-size: 72px;
    font-weight: 600;
     margin-left: 287px;


}
.measurable{
    color: #009689;
    font-weight: 600;
    font-size: 72px;
    margin-left: 287px;


}
.profitable{
    color: #00a63d;
}
.compliant{
    padding-left: 20px;
    color: #165dfc;
}
.caption{
    color: #414c5d;
    font-weight: 550;
    width: 800px;
    height: 78px;
    font-size: 23px;
    margin-left: 287px;
    margin-top: 30px;

}
.request{
    margin-left: 287px;
    margin-top: 45px;
    border: none;
    color: white;
    background-color: #00a63d;
    font-size: 18px;
    border-radius: 10px;
    width: 382px;
    height: 45px;

}
.request:hover{
    background-color: #008236;
    cursor: pointer;

}
.explore{

    margin-left: 20px;
    background-color: white;
    border-color:#00a63d ;
    color:#00a63d;
    font-size: 18px;
     border-radius: 10px;
     width: 210px;
    height: 45px;
}
.explore:hover{
    color:black;
    background-color: #f0fdf4;
}

.br{
    border: 2px solid red;
}
.textdiv{
    display: flex;
    justify-content: center;
}
.threediv{
    padding-bottom: 60px;
    /* height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.div1{
    border-radius: 10px ;
    margin-left: 33px;
    background-color: white;
    height: 240px;
    width: 380px;
    border: 1px solid #e5e7eb;
}
.div1:hover{
    box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.05);

}

.texdiv1{
   padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;
}
.h1{
    color: #111828;
    font-size: 60px;
    display: flex;
    justify-content: center;
}
.p1{
    padding-top: 15px;
    color: #362152;
    font-size: 20px;
    font-weight: 700;
}

.p2{
    padding-top: 15px;
    color: #4a5565;
    font-size: 18px;
}
.icon {
   
      width: 40px;
      height: 40px;
      color: #165DFC; /* icon color #165DFC */
    }
.icon1{
   
      width: 40px;
      height: 40px;
      color: #0092B9; /* icon color #165DFC */
    }
.icon2{
   
      width: 40px;
      height: 40px;
      color: #00A63D; /* icon color #165DFC */
    }
.svg{
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 32px;
    margin-left: 32px;
    background-color: #EEF6FF;
    width: 65px;
    height: 65px;
    margin-bottom: 32px;
} 
.svg1{
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 32px;
    margin-left: 32px;
    background-color: #EBFEFF;
    width: 65px;
    height: 65px;
    margin-bottom: 32px;
} 
.svg2{
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 32px;
    margin-left: 32px;
    background-color: #F0FDF4;
    width: 65px;
    height: 65px;
    margin-bottom: 32px;
} 
.clean{
    padding-left: 32px;
    padding-bottom: 15px;
}   
.reduce{
    color: #4A5565;
    padding-left: 32px;
}

